.header,
.themes,
.themes-container {
	display: grid;
}

.header {
	width: 18.7rem;
	box-sizing: border-box;
	grid-template-columns: 50% 30% 20%;
	margin-bottom: 1.5rem;
}

.calc,
.theme,
.btn-theme {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calc {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 1rem;
}

.theme {
	font-size: 18px;
	font-weight: 500;
	margin-top: 2.1rem;
	margin-left: 2rem;
}
.themes {
	grid-template-rows: 50% 50%;
}

.themes-container {
	text-align: center;
	grid-template-columns: repeat(3, auto);
}

.themes-container button {
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 0.5rem;
	background: none;
}

.toggle-btn-container {
	border-radius: 1rem;
	height: 1.7rem;
	background: hsl(224, 36%, 15%);
}

.toggle-btn {
	width: 0.9rem;
	height: 0.9rem;
	border: none;
	margin-left: 7.5px;
	border-radius: 8px;
	background: hsl(6, 70%, 34%);
}

button:hover {
	cursor: pointer;
}

@media (min-width: 1000px) {
	.header {
		width: 30rem;
		height: 4.2rem;
	}

	.theme {
		margin-left: 5rem;
	}
}
