.calculator {
  background: hsl(0, 0%, 90%);
}

.calc,
.theme,
.btn-theme,
.displayInput {
  color: hsl(0, 0%, 0%);
}

.toggle-btn-container {
  background: hsl(0, 5%, 81%);
}

.toggle-btn {
  margin: 0 40%;
  background: rgb(202, 98, 56);
}

.displayInput {
  background: hsl(0, 0%, 93%);
}

.numPad {
  background-color: hsl(0, 5%, 81%);
}

.btn {
  color: hsl(185, 42%, 37%);
  background: hsl(0, 0%, 90%);
}

.equals {
  color: white;
  background: hsl(19, 66%, 52%);
  box-shadow: 0 5px hsl(4, 28%, 59%);
}

.del,
.reset {
  color: hsl(0, 0%, 100%);
  background: hsl(185, 42%, 37%);
  box-shadow: 0 5px hsl(185, 58%, 25%);
}
